body * :not(form):not(form *){
    display: none;
}
form{
    width: 20rem;
    margin-left: 500px; 
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

}    
nav{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
.status{
    margin-top: 20px;
    width: 20rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px 0px;
    overflow-x: hidden;
    
    
   
}
   
.status img{
    border-radius: 50px;
    border-style: solid;
  border-width: 5px;
    border-spacing: 50px;
    border-color: rgb(88, 4, 43);
    margin-left: 15px;
    margin-right: -18px;
    
}
.status p{
    font-size: 12px;
    margin-left: 20px;
    
}
.content{
    display: flex;
}
.content img{
    border-radius: 50px;
    margin: 15px 0px 0px 15px;
}
button{
    border-radius: 30px;
    background-color: black;
    width: 40px;
    color: white;
    height: 30px;
    margin-left: 50px;
    mix-blend-mode:screen;
   
   
}

.icons svg{
    margin-left: 5px;
    margin-top: 200px;
    
    
}
.icons{
    display: flex;
    
}
.paragraph{
    margin-left: 10px;
    display: flex;
}
.paragraph img{
    border-radius: 50px;
    
}
.paragraph p{
    font-size: 12px;
    margin-left: 5px;
}
.p{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px 0px;
   
}
.footer{
    margin-top: -10px;
}
.footer svg{
    width: 35px;
    height: 35px;
    margin-left: 23px;
}